body{
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    
}

input{
    width: 30vw;
}